/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
  }

  .container {
    max-width: 800px;
    margin: auto;
  }
.head1{
    background-color: #333;
    color: #ccc;
}
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 15px;
  }

  /* Styling for code blocks */
  pre {
    background-color: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    overflow-x: auto;
  }

  /* Styling specific to code examples */
  .code-example {
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }

  .code-example:hover {
    transform: translateY(-5px);
  }

  .code-example pre {
    margin: 0;
  }

  .div1 {
    background-color:red; 
  }

  .div2 {
    background-color: #ccccff; 
  }

  .div3 {
    background-color:rgb(248, 127, 6); 
  }

  .code-example:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(255, 153, 153, 0.8), rgba(255, 204, 255, 0.8)); 
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .code-example:hover:before {
    opacity: 1;
  }